.arrange{
    margin-left: 70%;
}

.arrange1{
    width: 68%;
    margin-top: -22%;
    text-align: justify;
}

.arrange3{

    border: 5px solid black;
    width: 60vh;
    height: 60vh;
    
}

.arrange4{
    width: 95%;
    margin-left: 35%;
    margin-top: -30%;
    text-align: justify;
}

.header{
    border-bottom: 3px solid black;
}

.arrange5{
    width: 100%;
    
    text-align: justify;
}